scikit-base==0.12.3
reformer-pytorch==1.4.4
tqdm==4.67.1
patool==4.0.1
tokenizers==0.21.1
peft==0.15.2
CoLT5-attention==0.11.1
pydantic==2.11.5
setproctitle==1.3.6
accelerate==1.7.0
safetensors==0.5.3
product_key_memory==0.2.11
transformers==4.52.4
GitPython==3.1.44
regex==2024.11.6
pydantic_core==2.33.2
gitdb==4.0.12
annotated-types==0.7.0
joblib==1.4.2
local-attention==1.11.1
scikit-learn==1.6.1
hyper-connections==0.1.15
typing_extensions==4.14.0
sktime==0.37.0
wandb==0.20.1
huggingface-hub==0.32.4
smmap==5.0.2
sentry-sdk==2.29.1
urllib3==2.4.0
typing-inspection==0.4.1
numpy==1.23.5
hf-xet==1.1.3
axial_positional_embedding==0.3.12
jax-cuda12-plugin==0.5.1
tensorflow==2.18.0
astunparse==1.6.3
jax==0.5.1
wrapt==1.13.3
click==8.0.3
pystache==0.6.0
Brotli==1.0.9
pycparser==2.21
fsspec==2024.3.1
wcwidth==0.2.5
soupsieve==2.3.1
SecretStorage==3.3.1
lxml==4.8.0
six==1.16.0
bottle==0.12.19
distlib==0.3.4
webencodings==0.5.1
scipy==1.8.0
olefile==0.46
opt-einsum==3.3.0
livereload==2.6.3
prompt-toolkit==3.0.28
future==0.18.2
platformdirs==2.5.1
configobj==5.0.6
jaxlib==0.5.1
pyserial==3.5
py==1.10.0
launchpadlib==1.10.16
python-dateutil==2.8.1
Babel==2.8.0
triton==3.2.0
Twisted==22.1.0
httplib2==0.20.2
flatbuffers==1.12.1-git20200711.33e2d80-dfsg1-0.6
sos==4.7.2
icdiff==2.0.4
pyflakes==2.4.0
h5py.-debian-h5py-serial==3.6.0
traitlets==5.1.1
filelock==3.6.0
jeepney==0.7.1
decorator==4.4.2
netifaces==0.11.0
commonmark==0.9.1
python-apt==2.4.0+ubuntu4
numpy==1.21.5
protobuf==4.21.12
networkx==2.4
fonttools==4.29.1
certifi==2020.6.20
parso==0.8.1
typing_extensions==4.10.0
blinker==1.4
ipykernel==6.7.0
incremental==21.3.0
websocket-client==1.2.3
pycodestyle==2.8.0
cryptography==3.4.8
setuptools==59.6.0
pyasn1-modules==0.2.1
service-identity==18.1.0
backcall==0.2.0
ptyprocess==0.7.0
nest-asyncio==1.5.4
packaging==21.3
pyrsistent==0.18.1
jupyter-client==7.1.2
rich==11.2.0
optree==0.13.1
pytz==2022.1
wheel==0.37.1
zipp==1.0.0
beniget==0.4.1
argcomplete==1.8.1
ufoLib2==0.13.1
zope.interface==5.4.0
userpath==1.8.0
termcolor==1.1.0
kiwisolver==1.3.2
defusedxml==0.7.1
cycler==0.11.0
fs==2.4.12
pickleshare==0.7.5
PyGObject==3.42.1
pyinotify==0.9.6
wadllib==1.3.6
beautifulsoup4==4.10.0
importlib-metadata==4.6.4
Werkzeug==2.0.2
tmuxp==1.9.2
matplotlib-inline==0.1.3
Markdown==3.3.6
bleach==4.1.0
hyperlink==21.0.0
pexpect==4.8.0
bcrypt==3.2.0
chardet==4.0.0
h5py==3.6.0
dbus-python==1.2.18
cffi==1.15.0
pyasn1==0.4.8
entrypoints==0.4
scikit-learn==0.23.2
PyHamcrest==2.0.2
unicodedata2==14.0.0
google-pasta==0.2.0
jsonpatch==1.32
ipython_genutils==0.2.0
tensorboard==2.18.0
Pygments==2.11.2
pyOpenSSL==21.0.0
torch==2.6.0
idna==3.3
flake8==4.0.1
pysmi==0.3.2
ply==3.11
psutil==5.9.0
distro==1.7.0
sympy==1.12
influxdb==5.3.1
pandas==1.3.5
urllib3==1.26.5
einops==0.8.0
Jinja2==3.0.3
pyzmq==22.3.0
pythran==0.10.0
Automat==20.2.0
docker==5.0.3
pysnmp==4.4.12
gast==0.5.2
command-not-found==0.3
Pillow==9.0.1
torchvision==0.21.0
ssh-import-id==5.11
mccabe==0.6.1
absl-py==2.1.0
pip==22.0.2
jsonpointer==2.0
attrs==21.2.0
jupyter-core==4.9.1
tornado==6.1
PyJWT==2.3.0
nvidia-ml-py==12.555.43
ufw==0.36.1
flash-attn==2.7.4.post1
jedi==0.18.0
mkdocs==1.1.2
more-itertools==8.10.0
oauthlib==3.2.0
requests==2.25.1
python-magic==0.4.24
mpmath==0.0.0
PyYAML==5.4.1
msgpack==1.0.3
ml-dtypes==0.5.0
iotop==0.6
Glances==3.2.4.2
ctop==1.0.0
grpcio==1.30.2
virtualenv==20.13.0+ds
jsonschema==3.2.0
html5lib==1.1
appdirs==1.4.4
distro-info==1.1+ubuntu0.2
ipython==7.31.1
unattended-upgrades==0.1
pyparsing==2.4.7
lazr.uri==1.0.6
cloud-init==24.4.1
lz4==3.1.3+dfsg
threadpoolctl==3.1.0
constantly==15.1.0
pycryptodomex==3.11.0
pipx==1.0.0
joblib==0.17.0
keyring==23.5.0
MarkupSafe==2.0.1
libtmux==0.10.1
lazr.restfulclient==0.14.4
jax-cuda12-pjrt==0.5.1
matplotlib==3.5.1
keras==3.6.0
kaptan==0.5.12
namex==0.0.8
colorama==0.4.4
